fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
python-dotenv==1.0.1

supabase==2.7.4

requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2

playwright>=1.44.0
playwright-stealth>=1.0.6

numpy==1.26.4
scikit-learn==1.5.2
selenium==4.21.0

vaderSentiment>=3.3.2
